
# Ignore all folders (e.g __pycache__ and calibre conversion outputs)
*/*

# Ignore nonessential file formats
*.log
*.txt
*.opf

# Ignore config file
config.env

# Ignore output
urls.md
urls.txt

!docs/*
!old/*
!modules/*
!covers/*
!logs/README.md
!outputs/README.md

# Ignore pycache
modules/__pycache__
modules/__pycache__/*